*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
	list-style: none;
	color: #555;
	font-family: georgia, serif;
}

img{
	width: 100%;
}

h1{
	font-size: 2em;
	padding: 20px;
}

li{
	text-align: left;
}

.wrapper{
	background: #eee;
	text-align: center;
	padding-top: 100px;
	div:not(.answer){
		border-top: 1px solid grey;
		min-height: 300px;
	}
	ul.answer{
		width: 600px;
		margin: auto;
		padding: 50px;
	}
	h2{
		background: #eee;
		display: block;
		margin-top: -18px;
		position: absolute;
		left: calc(50% - 80px);
		width: 150px;
	}
	ul{
		padding-bottom: 20px;
	}
}

footer{
	background: #4a4a4f;
	padding: 20px;
	text-align: center;
	color: #999;
}